<template>
  <article class="tile is-ansector">
    <div class="content">
      <p class="title">Task 0</p>
      <p class="subtitle">Название </p>
      <div class="content">

      </div>
    </div>
    <div class="custom">

    </div>
  </article>
</template>

<script>
export default {
  mounted () {
    console.info('test')
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
