<template>
  <div>
  <article class="tile is-ansector">
    <div class="desc">
      <p class="title">Task 2</p>
      <p class="subtitle">- - - - - - - -</p>
      <a class="button" @click="descIsOpen=!descIsOpen">{{descIsOpen ? 'Свернуть' : 'Задание'}}</a>
      <div class="content"  v-show="descIsOpen">
       <p>
        Сделайте возможность добавлять новые карточки.<br>
        В форму добавьте кнопку сохранить. При вводе данных и сохранении должна появляться новая карточка.<br>
        В <a href="https://ru.vuejs.org/v2/api/#data">data</a> добавьте поле с массивом объектов. При сохранении карточки добавлять новый объект в массив<br>
        Для вывода объектов в шаблон используйте директиву <a href="https://ru.vuejs.org/v2/guide/list.html#Отображение-массива-элементов-с-помощью-v-for">v-for</a><br>
        <br>
        Необязательные требования, но будет плюсом:<br>
         - Возможность удалить карточку<br>
         - Реализовать предпросмотр карточки до сохранения.
       </p>
      </div>
    </div>
  </article>
  <br>
  <hr>
  <br>
  <div class="custom container">

  </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      descIsOpen: true
    }
  },
  mounted () {
    console.info('test')
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
