<template>
  <div>
  <article class="tile is-ansector">
    <div class="desc">
      <p class="title">Task 1</p>
      <p class="subtitle">- - - - - - - -</p>
      <a class="button" @click="descIsOpen=!descIsOpen">{{descIsOpen ? 'Свернуть' : 'Задание'}}</a>
      <div class="content"  v-show="descIsOpen">
       <p>
        Добавьте форму (допустим в первой пустой колонке) со следующими инпутами:<br>
        - url картинки<br>
        - название фильма<br>
        - год<br>
        - описание (при выводе сокращать до 100 символов)<br>
        - теги (можно хранить текстовой строкой, но при выводе разбивать по запятым)<br>
        <br>
        И свяжите эти инпуты с текущей карточкой (т.е. когда вводится текст в инпут, автоматически текст в карточке изменяется на введенный)<br>
        <br>
        Необязательные требования, но будет плюсом:<br>
         - Вынести верстку карточки в отдельный компонент и передавать в него данные ( использовать <a href="https://ru.vuejs.org/v2/api/#props">props</a>)<br>
         - Сделать возможность загружать картинки как через url, так и с компьютера ( при локальной загрузке преобразовывать файл в base64).
       </p>
      </div>
    </div>
  </article>
  <br>
  <hr>
  <br>
  <div class="custom container">
    <div class="columns">
      <div class="column"></div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://thumbs.dfs.ivi.ru/storage10/contents/b/1/4b4b4eee7679d86e568f96fe7a1a62.jpg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Прибытие</p>
                <p class="subtitle is-6">2016</p>
              </div>
            </div>

            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Phasellus nec iaculis mauris.
              <br>
              <a href="#">#драма</a> <a href="#">#фантастика</a> <a href="#">#si-fi</a>
            </div>
          </div>
        </div>
      </div>
      <div class="column"></div>
      <div class="column"></div>
    </div>
  </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      descIsOpen: true
    }
  },
  mounted () {
    console.info('test')
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .custom .card {
    overflow: hidden;
  }
  .custom .card .image.is-4by3 {
    padding-top: 500px;
  }
  .custom .card .card-content{
    position: absolute;
    bottom: 0;
    background: white;
    // height: 0;
    // padding: 0;
  }
  .custom .card:hover .card-content {
    height: auto;
    padding: 1.5rem;
  }
</style>
