<template>
  <div>
  <article class="tile is-ansector">
    <div class="desc">
      <p class="title">Task 3</p>
      <p class="subtitle">- - - - - - - -</p>
      <a class="button" @click="descIsOpen=!descIsOpen">{{descIsOpen ? 'Свернуть' : 'Задание'}}</a>
      <div class="content" v-show="descIsOpen">
       <p>
        Добавьте поле поиска карточек.<br>
        При вводе текста должны пропадать карточки у которых названия не соответсвуют поиску.<br>
        Используйте <a href="https://learn.javascript.ru/array-iteration#filter">filter</a> для фильтрации массива объектов.<br>
        <br>
        Необязательные требования, но будет плюсом:<br>
         - Если нет результатов поиска, то должно показываться сообщение, что ничего не найдено.<br>
         - Возможность искать не только по названию, но и по описанию<br>
       </p>
      </div>
    </div>
  </article>
  <br>
  <hr>
  <br>
  <div class="custom container">

  </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      descIsOpen: true
    }
  },
  mounted () {
    console.info('test')
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
