<template>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Welcome</h1>
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <router-link to="/native/1" class="tile is-child box">
              <article>
                <p class="title">Native JS</p>
                <p class="subtitle">Pure JS tasks</p>
              </article>
            </router-link>
          </div>
          <div class="tile is-parent">
            <router-link to="/vue/1" class="tile is-child box">
              <article>
                <p class="title">Vue JS</p>
                <p class="subtitle">Vue.js tasks</p>
              </article>
            </router-link>
          </div>
          <div class="tile is-parent">
            <router-link to="/" class="tile is-child box">
              <article>
                <p class="title">React JS</p>
                <p class="subtitle">Not yet</p>
              </article>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Home'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
