<template>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div v-if="$route.params.id==1"><Task1></Task1></div>
        <div v-else-if="$route.params.id==2"><Task2></Task2></div>
        <div v-else-if="$route.params.id==3"><Task3></Task3></div>
        <div v-else-if="$route.params.id==4"><Task4></Task4></div>
        <div v-else-if="$route.params.id==5"><Task5></Task5></div>
      </div>
    </div>
  </section>
</template>

<script>
import Task1 from './vue-tasks/Task1'
import Task2 from './vue-tasks/Task2'
import Task3 from './vue-tasks/Task3'
import Task4 from './vue-tasks/Task4'
import Task5 from './vue-tasks/Task5'
export default {
  name: 'Native',
  components: {
    Task1,
    Task2,
    Task3,
    Task4,
    Task5
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .container {
    max-width: 100%;
  }
</style>
