<template>
  <aside class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile">
    <ul class="menu-list">
      <li>
        <router-link to="/">
          <span class="icon"><i class="fa fa-home"></i></span> Home
        </router-link>
      </li>
      <li>
        <router-link to="/native/1">
          <span class="icon"><i class="fa fa-cubes"></i></span> Native
        </router-link>

        <ul>
          <router-link to="/native/1" active-class="is-active">
            <span class="icon"><i class="fa fa-cube"></i></span> Task1
          </router-link>
          <router-link to="/native/2" active-class="is-active">
            <span class="icon"><i class="fa fa-cube"></i></span> Task2
          </router-link>
          <router-link to="/native/3" active-class="is-active">
            <span class="icon"><i class="fa fa-cube"></i></span> Task3
          </router-link>
          <router-link to="/native/4" active-class="is-active">
            <span class="icon"><i class="fa fa-cube"></i></span> Task4
          </router-link>
          <router-link to="/native/5" active-class="is-active">
            <span class="icon"><i class="fa fa-cube"></i></span> Task5
          </router-link>
        </ul>
      </li>
      <li>
        <router-link to="/vue/1">
          <span class="icon"><i class="fa fa-cubes"></i></span> Vue
        </router-link>
        <ul>
          <router-link to="/vue/1" active-class="is-active">
            <span class="icon"><i class="fa fa-cube"></i></span> Task1
          </router-link>
          <router-link to="/vue/2" active-class="is-active">
            <span class="icon"><i class="fa fa-cube"></i></span> Task2
          </router-link>
          <router-link to="/vue/3" active-class="is-active">
            <span class="icon"><i class="fa fa-cube"></i></span> Task3
          </router-link>
          <router-link to="/vue/4" active-class="is-active">
            <span class="icon"><i class="fa fa-cube"></i></span> Task4
          </router-link>
        </ul>
      </li>
    </ul>
  </aside>
</template>

<script>
export default {
  name: 'sidebar'
}
</script>
