<template>
  <nav class="navbar container">
    <div class="navbar-brand">
      <router-link class="navbar-item" to="/">
        <img src="https://vuejs.org/images/logo.png"></img> Learn Vue
      </router-link>
    </div>

  </nav>
</template>

<script>
export default {
  name: 'top-nav'
}
    // <div class="navbar-start">
    //   <div class="navbar-item">
    //     <router-link to="/native">
    //       <span>Native JS</span>
    //     </router-link>
    //   </div>
    //   <div class="navbar-item">
    //     <router-link to="/vue">
    //       <span>Vue.js</span>
    //     </router-link>
    //   </div>
    // </div>
</script>
