<template>
  <article class="tile is-ansector">
    <div class="content">
      <p class="title">Task 3</p>
      <p class="subtitle">Печатающие обезьяны </p>
      <div class="content">
        <p>
            <a href="http://en.wikipedia.org/wiki/Infinite_monkey_theorem">Теорема о бесконечных обезьянах</a>
            утверждает, что абстрактная обезьяна, ударяя случайным образом по клавишам пишущей машинки
            в течение неограниченно долгого времени, рано или поздно напечатает любой наперёд заданный текст.
        </p>
        <p>
            Предположим, что наши обезьяны печтают, и печатают, и печатают, и уже настрочили множество разнообразных коротких отрывков текста.
            Давайте проверим их на вхождение осмысленных слов.
        </p>
        <p>
            Вам предлагается некоторый текст, который может содержать осмысленные слова.
            Вы должны подсчитать количество таких слов в этом тексте.
            Слово может стоять отдельно, а может присутствовать как часть другого слова.
            Регистр букв не имеет значения. Слова даны в нижнем регистре и не повторяются.
            Если слово встречается в тексте несколько раз, оно должно быть посчитано только один раз.
        </p>
        <p>
            Например, текст "How aresjfhdskfhskd you?", слова - ("how", "are", "you", "hello").
            Результат должен быть равен 3.
        </p>
        <p>
            <strong>Вход: </strong> Два аргумента.
            Текст как строка и слова в виде множества строк.
        </p>
        <p>
            <strong>Выход: </strong> Количество слов в тексте в виде целого числа.
        </p>
        <p>
        <strong>Пример:</strong>
        <pre>
        countWords("How aresjfhdskfhskd you?", ["how", "are", "you", "hello"]) == 3
        countWords("Bananas, give me bananas!!!", ["banana", "bananas"]) == 2
        countWords("Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                    ["sum", "hamlet", "infinity", "anything"]) == 1
        </pre>
        </p>
        <p>
            <strong>Как это используется: </strong>
            В этой задаче приводится всего лишь простой пример инструментов для поиска в тексте, которые вы можете разрабатывать.
        </p>
      </div>
    </div>
  </article>
</template>

<script>
export default {
  mounted () {
    console.info('test')
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
