<template>
  <article class="tile is-ansector">
    <div class="content">
      <p class="title">Task 1</p>
      <p class="subtitle">Работа с аргументами</p>
      <div class="content">
        <p>
            Дан массив чисел (float или/и int).
            Вам нужно найти разницу между самым большим (максимум) и самым малым (минимум) элементом.
            Ваша функция должна уметь работать с неопределенным количеством аргументов.
            Если аргументов нет, то функция возвращает 0 (ноль).
        </p>

        <p>
            Числа с плавающей точкой представлены в компьютерах как двоичная дробь.

            Результат проверяется с точностью до третьего знака, как &plusmn;0.001<br>
            Прочитайте о том как работать с переменым числом аргументов.
        </p>

        <p>
            <strong>Вх. данные: </strong> Переменное число аргументов как числа (int, float).
        </p>

        <p>
            <strong>Вых. данные: </strong> Разница между максимумом и минимумом как число (int, float).
        </p>

            <p>
                <strong>Примеры:</strong>
            </p>
            <pre>
        mostNumbers(1, 2, 3) == 2
        mostNumbers(5, -5) == 10
        mostNumbers(10.2, -2.2, 0, 1.1, 0.5) == 12.4
        mostNumbers() == 0
            </pre>

        <p class="for_info_only">
            <strong>Как это используется: </strong>
            В этой задаче вы научитесь как работать с неопределенным числом аргументов.
        </p>
      </div>
    </div>
  </article>
</template>

<script>
export default {
  mounted () {
    console.info('test')
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
