<template>
  <article class="tile is-ansector">
    <div class="content">
      <p class="title">Task 4</p>
      <p class="subtitle">Стек </p>
      <div class="content">
        <p>
            В информатике стеком (stack) называют специализированный тип данных или контейнер, в котором реализованы две основных операции: добавление элемента в коллекцию (обычно именуют push) и удаление элемента из коллекции (обычно именуют pop). Реализация push и pop операций позволяет рассматривать стек как структуру данных, построенную в соответствии с принципом "последним пришёл - первым ушёл" (Last-In-First-Out, LIFO). В структуре данных LIFO первым (или верхним) элементом, доступным для удаления, должен быть элемент, который был добавлен последним. Кроме того, часто реализуется операция, возвращающая значение верхнего элемента без удаления его из коллекции.
        </p>
        <p>
          Мы промоделируем работу стека. Вам передается последовательность команд:
          - "PUSH X" -- добавить X (типа число) в стек.
          - "POP" -- получить значение верхнего элемента и удалить его из стека. Если стек пуст, операция возвращает 0 (ноль) и больше ничего не делает.
          - "PEEK" -- получить значение верхнего элемента. Если стек пуст, операция возвращает 0 (ноль).
        </p>
        <p>
          Вы должны обработать все команды и просуммировать все цифры, которые были получены из стека (операциями "PEEK" или "POP").
          Начальное значение суммы - 0 (ноль).
        </p>
        <p>
            Давайте рассмотрим пример, дана следующая последовательность команд:<br>
            ["PUSH 3", "POP", "POP", "PUSH 4", "PEEK", "PUSH 9", "PUSH 0", "PEEK", "POP", "PUSH 1", "PEEK"]
        </p>
        <table id="example-table">
            <tr>
                <th>Команда</th>
                <th>Стек</th>
                <th>Сумма</th>
            </tr>
            <tr>
                <td>PUSH 3</td>
                <td>3</td>
                <td>0</td>
            </tr>
            <tr>
                <td>POP</td>
                <td></td>
                <td>0+3</td>
            </tr>
            <tr>
                <td>POP</td>
                <td></td>
                <td>3+0</td>
            </tr>
            <tr>
                <td>PUSH 4</td>
                <td>4</td>
                <td>3</td>
            </tr>
            <tr>
                <td>PEEK</td>
                <td>4</td>
                <td>3+4</td>
            </tr>

            <tr>
                <td>PUSH 9</td>
                <td>4,9</td>
                <td>7</td>
            </tr>
            <tr>
                <td>PUSH 0</td>
                <td>4,9,0</td>
                <td>7</td>
            </tr>
            <tr>
                <td>PEEK</td>
                <td>4,9,0</td>
                <td>7+0</td>
            </tr>
            <tr>
                <td>POP</td>
                <td>4,9</td>
                <td>7+0</td>
            </tr>
            <tr>
                <td>PUSH 1</td>
                <td>4,9,1</td>
                <td>7</td>
            </tr>
            <tr>
                <td>PEEK</td>
                <td>4,9,1</td>
                <td>7+1=<strong>8</strong></td>
            </tr>

        </table>

        <p>
            <strong>Вход: </strong> Последовательность комманд в виде списка строк.
        </p>

        <p>
            <strong>Выход: </strong> Сумма полученных цифр в виде целого числа.
        </p>


        <div class="for_info_only">
            <p>
                <strong>Пример:</strong>
            </p>
            <pre>
        digitStack(["PUSH 3", "POP", "POP", "PUSH 4", "PEEK", "PUSH 9", "PUSH 0", "PEEK", "POP", "PUSH 1", "PEEK"]) == 8
        digitStack(["POP", "POP"]) == 0
        digitStack(["PUSH 9", "PUSH 9", "POP"]) == 9
        digitStack([]) == 0
        </pre>
        </div>

        <p class="for_info_only">
            <strong>Как это используется: </strong>
            Стеки находят широкое примение.
            Мы видим стеки в повседневной жизни, от книг в нашей библиотеке и до чистых листов в лотке принтера.
            Все они следуют логике "последним пришёл - первым ушёл".
            То есть, когда мы добавляем книгу в стопку, мы кладем её наверх, и в свою очередь убирая книгу из стопки,
            мы, как правило, снимаем её с верха стопки.
        </p>

      </div>
    </div>
  </article>
</template>

<script>
export default {
  mounted () {
    console.info('test')
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  #example-table {
    border-collapse: collapse;
    margin-bottom: 10px;
  }
  #example-table td,
  #example-table th {
    border: 1px #294270 solid;
    padding: 4px;
    font-size: 16px;
    text-align: center;
  }
</style>
