<template>
  <article class="tile is-ansector">
    <div class="content">
      <p class="title">Task 5</p>
      <p class="subtitle">Неуникальные елементы </p>
      <div class="content">
        <p>
            Дан непустой массив целых чисел (X).
            В этой задаче вам нужно вернуть массив, состоящий только из неуникальных элементов данного массива.
            Для этого необходимо удалить все уникальные элементы (которые присутствуют в данном массиве только один раз).
            Для решения этой задачи не меняйте оригинальный порядок элементов.
            Пример: [1, 2, 3, 1, 3], где 1 и 3 неуникальные элементы и результат будет [1, 3, 1, 3].
        </p>
        <p><strong>Вх. данные: </strong>Список (list) целых чисел (int).</p>
        <p><strong>Вых. данные: </strong>Список (list) целых чисел (int).</p>
        <div>
            <p><strong>Пример:</strong></p>
        <pre>
        nonUniqueElements([1, 2, 3, 1, 3]) == [1, 3, 1, 3]
        nonUniqueElements([1, 2, 3, 4, 5]) == []
        nonUniqueElements([5, 5, 5, 5, 5]) == [5, 5, 5, 5, 5]
        nonUniqueElements([10, 9, 10, 10, 9, 8]) == [10, 9, 10, 10, 9]
        </pre>
        </div>
        <p>
            <strong>Как это используется:</strong>
            Эта задача поможет вам понять, как манипулировать массивами.
            Это полезный базис для решения более сложных задач.
            Также эта идея может быть легко обобщена для реальных задач.
            Для примера: если вам необходимо очистить статистику от редко встречающихся элементов (шум).

        </p>
      </div>
    </div>
  </article>
</template>

<script>
export default {
  mounted () {
    console.info('test')
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
