<template>
  <article class="tile is-ansector">
    <div class="content">
      <p class="title">Task 2</p>
      <p class="subtitle">Комбинирование списка </p>
      <div class="content">
        <p>Напишите функцию которая комбинирует два массива попеременно вставляя елементы, т.е. [a,b,c], [1,2,3] → [a,1,b,2,c,3].</p>
        <p>
            <strong>Вх. данные: </strong> Два массива.
        </p>
        <p>
            <strong>Вых. данные: </strong> Массив.
        </p>
        <p>
            <strong>Примеры:</strong>
        </p>
        <pre>
          listCombination([1, 2, 3], [4, 5, 6]) === [1, 4, 2, 5, 3, 6]
          listCombination([1, 1, 1, 1], [2, 2, 2, 2]) === [1, 2, 1, 2, 1, 2, 1, 2]
        </pre>
      </div>
    </div>
  </article>
</template>

<script>
export default {
  mounted () {
    console.info('test')
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
