<template>
  <div id="app">
    <TopNav></TopNav>
    <section class="main-content columns is-fullheight">
      <Sidebar v-if="$route.path !== '/'"></Sidebar>
      <div class="container column is-10">
        <router-view></router-view>
      </div>
    </section>
  </div>
</template>

<script>
import TopNav from './components/TopNav'
import Sidebar from './components/Sidebar'
export default {
  name: 'app',
  components: {
    TopNav,
    Sidebar
  },
  mounted () {
    console.info(this.$route)
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
